.divMenu{
    padding-right: 2%;
}

.divImages{
    padding: 1%;
    padding-bottom: 3%;

}

.HeadingNo2{
    text-align: center;
}

.divContent{
    padding-bottom: 3%;
}

#projects{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0;
    font-size: 16;
    background-color: transparent;
}
